html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(320deg, rgb(20, 20, 20), rgb(110, 18, 18));
  display: flex;
  font-family: "Dosis", sans-serif;
  height: inherit;
  justify-content: center;
}

.wrapper {
  background-color: rgba(30, 30, 30, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 15px;
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}

.screen {
  background-color: rgba(255, 255, 255);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  padding: 15px;
  text-align: right;
  width: 326px;
}

.calc-buttons-rows {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-button {
  background: rgb(255, 255, 255, 0.8);
  border: 1px solid rgb(35, 35, 35, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
  color: #232323;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}

.calc-button:last-child {
  background: rgba(255, 133, 33, 0.8);
  border: 1px solid rgb(35, 35, 35, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
  color: #fff;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}

.calc-button:last-child:hover {
  background-color: rgba(255, 133, 33, 0.4);
  color: #fff;
}

.calc-button:last-child:active {
  background-color: rgba(255, 133, 33);
  color: inherit;
}

.calc-button:hover {
  background-color: rgba(145, 145, 145, 0.4);
}

.calc-button:active {
  background-color: #363636;
  color: #fff;
}

.zero {
  background-color: rgb(255, 0, 0, 0.75);
  flex-basis: 47%;
}

.one {
  flex-basis: 47%;
}
